In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('transfusion.csv')
dataset

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0
5,4,4,1000,4,0
6,2,7,1750,14,1
7,1,12,3000,35,0
8,2,9,2250,22,1
9,5,46,11500,98,1
10,4,23,5750,58,0
11,0,3,750,4,0
12,2,10,2500,28,1
13,1,13,3250,47,0
14,2,6,1500,15,1
15,2,5,1250,11,1
16,2,14,3500,48,1
17,2,15,3750,49,1
18,2,6,1500,15,1
19,2,3,750,4,1
20,2,3,750,4,1
21,4,11,2750,28,0
22,2,6,1500,16,1
23,2,6,1500,16,1
24,9,9,2250,16,0
25,4,14,3500,40,0
26,4,6,1500,14,0
27,4,12,3000,34,1
28,4,5,1250,11,1
29,4,8,2000,21,0
...,...,...,...,...,...
718,21,3,750,35,0
719,23,8,2000,69,0
720,21,3,750,38,0
721,23,3,750,35,0
722,21,3,750,40,0
723,23,2,500,28,0
724,21,1,250,21,0
725,21,1,250,21,0
726,25,6,1500,50,0
727,21,1,250,21,0
728,21,1,250,21,0
729,23,3,750,39,0
730,21,2,500,33,0
731,14,3,750,79,0
732,23,1,250,23,1
733,23,1,250,23,0
734,23,1,250,23,0
735,23,1,250,23,0
736,23,1,250,23,0
737,23,1,250,23,0
738,23,1,250,23,0
739,23,4,1000,52,0
740,23,1,250,23,0
741,23,7,1750,88,0
742,16,3,750,86,0
743,23,2,500,38,0
744,21,2,500,52,0
745,23,3,750,62,0
746,39,1,250,39,0
747,72,1,250,72,0

In [3]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [4]:
X.shape

(748, 4)

In [5]:
y.shape

(748,)

In [6]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 40)

In [7]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Anaconda3\envs\nlp\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [8]:
# Fitting Random Forest Classification to the Training set
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 30, criterion = 'entropy', random_state = 40)
classifier.fit(X_train, y_train)

C:\Anaconda3\envs\nlp\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=30, n_jobs=1,
            oob_score=False, random_state=40, verbose=0, warm_start=False)

In [9]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [10]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[130,  17],
       [ 26,  14]], dtype=int64)

In [11]:
(cm.diagonal().sum()/cm.sum())*100

77.00534759358288

In [12]:
classifier.score(X_test,y_test)*100

77.00534759358288

In [13]:
cm1 = confusion_matrix(y_train, classifier.predict(X_train))
cm1

array([[418,   5],
       [ 30, 108]], dtype=int64)

In [14]:
(cm1.diagonal().sum()/cm1.sum())*100

93.76114081996435

In [15]:
# # Visualising the Test set results
# from matplotlib.colors import ListedColormap
# X_set, y_set = X_test, y_test
# X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 1, stop = X_set[:, 0].max() + 1, step = 0.01),
#                      np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01))
# plt.contourf(X1, X2, classifier.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1.shape),
#              alpha = 0.75, cmap = ListedColormap(('pink', 'lightgreen')))
# plt.xlim(X1.min(), X1.max())
# plt.ylim(X2.min(), X2.max())
# for i, j in enumerate(np.unique(y_set)):
#     plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1],
#                 c = ListedColormap(('red', 'green'))(i), label = j)
# plt.title('Random Forest Classification (Test set)')
# plt.xlabel('Age')
# plt.ylabel('Estimated Salary')
# plt.legend()
# plt.show()